@font-face {
  font-family: 'iconfont';  /* project id 1781056 */
  src: url('//at.alicdn.com/t/font_1781056_1t8md90qqnq.eot');
  src: url('//at.alicdn.com/t/font_1781056_1t8md90qqnq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1781056_1t8md90qqnq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1781056_1t8md90qqnq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1781056_1t8md90qqnq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1781056_1t8md90qqnq.svg#iconfont') format('svg');
}

.iconfont {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  font-family: 'iconfont' !important;
  font-size: 1em;
	line-height: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
